* {
    margin: 0;
    padding: 0;
}

header img{
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

nav {
    align-items: center;
    align-self: center;
}

nav a {
    padding: 10px;
}

/*** FIN HEADER ***/

/*** DEBUT MAIN ***/

form {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
}

.sexe {
    display: flex;
}

div:not(.hommefemme){
    display: flex;
    justify-content: space-between;
}

.inscrire {
    display: flex;
    padding-top: 5px;
    justify-content: flex-end!important;
}

input[type="submit"]{
    padding: 5px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
}